得獎名單2020_4_8.xlsx
得獎名單2020_4_9.xlsx
得獎名單2020_4_10.xlsx
得獎名單2020_4_11.xlsx
得獎名單2020_4_12.xlsx
得獎名單2020_4_13.xlsx
得獎名單2020_4_14.xlsx
得獎名單2020_4_15.xlsx
得獎名單2020_4_16.xlsx
得獎名單2020_4_17.xlsx
得獎名單2020_4_18.xlsx
得獎名單2020_4_19.xlsx
得獎名單2020_4_20.xlsx
得獎名單2020_4_21.xlsx
得獎名單2020_4_22.xlsx
得獎名單2020_4_23.xlsx
得獎名單2020_4_24.xlsx
得獎名單2020_4_25.xlsx
得獎名單2020_4_26.xlsx
得獎名單2020_4_27.xlsx
得獎名單2020_4_28.xlsx
得獎名單2020_4_29.xlsx
得獎名單2020_4_30.xlsx
得獎名單2020_5_1.xlsx
得獎名單2020_5_2.xlsx
得獎名單2020_5_3.xlsx
得獎名單2020_5_4.xlsx
得獎名單2020_5_5.xlsx
得獎名單2020_5_6.xlsx
得獎名單2020_5_7.xlsx
得獎名單2020_5_8.xlsx
得獎名單2020_5_9.xlsx
得獎名單2020_5_10.xlsx
得獎名單2020_5_11.xlsx
得獎名單2020_5_12.xlsx
得獎名單2020_5_13.xlsx
得獎名單2020_5_14.xlsx
得獎名單2020_5_15.xlsx
得獎名單2020_5_16.xlsx
總得獎名單.xlsx
chromedriver.exe
debug.log
test.xlsx
Untitled.ipynb
.ipynb_checkpoints/autolottery - backup-checkpoint.ipynb
.ipynb_checkpoints/autolottery-checkpoint.ipynb
.ipynb_checkpoints/autolottery-checkpoint.py
.ipynb_checkpoints/autolottery-Copy1-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
autolottery.ipynb
autolottery - backup.ipynb
autolottery_backup.py
